* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Slab", serif;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url(images/bg.jpg) center no-repeat;
  background-size: cover;
}

.card {
  width: 300px;
  height: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 1000px;
}

.frame,
.content,
.back-side {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.frame {
  border: 3px solid aqua;
  transform: translateZ(50px) translateX(-20px);
  pointer-events: none;
  transition: transform 0.5s;
}

.content {
  background: linear-gradient(
    290deg,
    rgba(61, 189, 178, 0.8) 50%,
    rgba(46, 178, 231, 0.8) 0
  );
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.back-side {
  background-color: rgba(233, 93, 38, 0.5);
  transform: translateZ(-50px) translateX(20px);
  transition: transform 0.5s;
}

.card:hover .frame {
  transform: translateZ(0) translateX(0);
}

.card:hover .back-side {
  transform: translateZ(0) translateX(0);
}

.img {
  width: 65%;
  border-radius: 50%;
  margin-top: 10px;
  border: 5px solid #fff;
}

.full-name {
  font-size: 40px;
  color: #fff;
}

.profession {
  font-size: 25px;
  color: #ddd;
}

.about-me {
  font-size: 19px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  width: 90%;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.card-btn {
  border: none;
  outline: none;
  width: 150px;
  height: 35px;
  background: linear-gradient(#6896e0, #0d517e);
  color: #ddd;
  font-family: "Josefin Slab", serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
